body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.join-container {
    background-color: #3498db;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
}

.join-container h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    text-align: start;
}

select, input, button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #2ecc71;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #27ae60;
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

.notification {
    width: 50%;
    font-size: x-large;
    font-weight: bolder;
    margin: 20px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 8px;
    text-align: center;
}

.notification.success {
    background-color: #4CAF50; /* Green */
    color: #fff;
}

.notification.error {
    background-color: #f44336; /* Red */
    color: #fff;
}