<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Organisation - OptiSecure</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='join.css') }}">
</head>
<body>
        {% if result %}
            <div class="notification success">
                <p>Successfully joined the organization!</p>
            </div>
        {% endif %}
    <div class="join-container">
        <h1>Join an Organisation</h1>
        <form action="/join" method="post">
            <label for="organization">Select an Organisation:</label>
            <select id="organization" name="organization" required>
                <option value="" selected disabled>Select an Organisation</option>
                {% for email in emails %}
                  <option value="{{ email }}">{{ email }}</option>
                {% endfor %}
            </select>
            <label for="did">Enter Your DID</label>
            <input type="text" name="did" id="did" placeholder="Enter your DID Id...." required>
            <input type="email" name="email" id="email" placeholder="Enter your Email" required>
            <button type="submit">Join</button>
        </form>
        <p class="login-link">Already have an account? <a href="/login">Login</a></p>
    </div>
</body>
</html>
